<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>More | Careers</title>
</head>
<body>
  <p>
    Full name: {{ nameQuote }}
  </p>
  <p>
    Phone number: {{ phoneQuote }}
  </p>
  <p>
    What kind of project do you have?: {{ projectTypeQuote }}
  </p>
  <p>
    E-mail: {{ emailQuote }}
  </p>
  <p>
    Your project's name: {{ projectNameQuote }}
  </p>
  <p>
    Budget: {{ budgetQuote }}
  </p>
  <p>
    Any details you'd like to share?: {{ detailsQuote }}
  </p>
</body>
</html>